@font-face {
  font-family: buttermilk;
  src: url(./Buttermilk.woff2);
}

#bulb{
  height:300px;
  width: 300px;
  border-radius: 50px;
  border: 4px solid black;
}

button{
padding: 10px 30px;
font-size: 20px;
margin: 50px;

}